:root {
    /* Dark mode colors */
    --primary-color: #4CAF50;
    --secondary-color: #2196F3;
    --dark-background-color: #333333;
    --text-color: #ffffff;
    --border-color: #cccccc;

    /* Light mode colors */
    --primary-color: #4CAF50;
    --secondary-color: #2196F3;
    --light-background-color: #fff;
    --text-color: #333;
    --border-color: #cccccc;

    /* Spacing variables */
    --spacing-small: 5px;
    --spacing-medium: 10px;
    --spacing-large: 20px;

    /* Grid variables */
    --grid-gap: 10px;
    --tile-size: 60px;
    --coord-label-size: 15px;

    /* Farm tile colors */
    --tile-empty: #8B4513;
    --tile-watered: #386641;
    --tile-planted: #6a994e;

    /* Font */
    --instruction-font-size: 1rem;
    --button-font-size: 0.8rem;
}

body {
  margin: 0;
  max-width: 100vw;
}

pre,
code {
  overflow: auto;
}

#pageContainer {
  display: flex;
  width: 100%;
  max-width: 100vw;
  height: 100vh;
}

/*Blockly*/
#blocklyDiv {
  flex-basis: 100%;
  height: 90%;
  min-width: 600px;
}

#outputPane {
  display: flex;
  flex-direction: column;
  width: 400px;
  flex: 0 0 400px;
  overflow: auto;
  padding: 1rem;
  margin: 0;
}

#generatedCode {
  height: 50%;
  background-color: rgb(247, 240, 228);
}

#output {
  height: 50%;
}

.blocklyToolbox {
    width: 20%;
    background-color: #f5f5f5;
}


/* Base Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    line-height: 1.6;
    background-color: #1e1e1e;
}

/* App Layout */
.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.App-header {
    height: 8%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    border-bottom: 0.5px solid #ddd;
}

.App-body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.App-title {
    width: 15%;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    margin-left: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.App-icon {
    height: 1.75rem;
    margin-right: 2%;
}

.divider {
    margin: 0 0.5rem;
    color: #e0e0e0;
}

.header-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
}

.header-icons a {
    line-height: 0;
}

.attr-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.attr-icons img {
    height: 3rem;
}

.attr-icons .built-with-blockly-badge {
    margin-left: 0;
    margin-right: 2.2rem;
}

.attr-icons .nss-mmc-logo {
    margin-left: 1.5rem;
    margin-right: 0;
}

.built-with-blockly-badge {
    height: 1.5rem;
    margin: 0 1.75rem 0 0.5rem;
}

.nss-mmc-logo {
    height: 1.5rem;
    margin-right: 0.8rem;
}

.App button, select {
    background-color: #184e77;
    color: white;
    padding: 8px 12px;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.6), inset 0 1px 0 rgba(255, 255, 255, 0.2);
    font-weight: bold;
    font-size: var(--button-font-size);
    transition: background-color 0.3s;
}

/* Controls bar */
.controls-bar {
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.controls-bar button, select {
    margin-right: 1%;
}

.App-bottom-panel {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 92%;
}

#main-content {
    width: 100%;
    height: 100%;
}

.skip-to-main-content-link, .skip-to-game-panel-link {
    position: absolute;
    z-index: 999;
    padding: 1em;
    background: black;
    color: white;
    opacity: 0;
}

.skip-to-main-content-link:focus, .skip-to-game-panel-link:focus {
    top: 0;
    left: 45%;
    opacity: 1;
}

/* Game Panel */
.game-panel {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #333;
}

.game-container {
    height: 95%;
    width: 100%;
    padding: 20px 10px 0 10px;
    overflow-y: auto;
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

button:hover {
    background-color: #2b68c5;
}

button.run-mode-button.all {
    background-color: #d6611a;
}

button.run-mode-button.day {
    background-color: #3c9c18;
}

.grid-container {
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
}

.farm-grid {
    display: grid;
    place-items: center;
    border: 2px solid #888;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 8px;
    margin: 0 auto;
    gap: 4px;
}

.farm-grid:focus {
    outline: 3px solid #66aaff;
    outline-offset: 4px;
}

.tile {
    width: 100%;
    aspect-ratio: 1;
    --tile-bg: #836248;
    background-color: var(--tile-bg);
    border: 2px solid #5D4037;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tile:focus {
    outline: 3px solid #66aaff;
    outline-offset: 4px;
    z-index: 9999;
}

.tile-1, .tile-2, .tile-3 {
    --tile-bg: #8FAD7D;
}

.tile-watered {
    --tile-bg: #386641;
}

.tile-watered.tile-0 {
    --tile-bg: #462e22;
}

.farm-info {
    margin: 0;
    font-size: 18px;
    width: 100%;
    /*font-weight: bold;*/
}

.coord-label {
    height: 15px;
    line-height: 15px;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
}

/* Blockly Panel */
.blockly-panel {
    width: 100%;
    height: 83%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.blocklyMainBackground {
    stroke: none;
}

.update-button {
    margin: 1rem;
}

button.run-code-button {
    margin-left: auto;
    background-color: #7e3000;
    padding: 8px 30px;
    position: absolute;
    bottom: 10%;
    right: 30%;
}

.run-code-button:hover {
    background-color: #bf4a02;
}

.run-code-button:disabled {
    cursor: not-allowed;
    opacity: 0.4;
}

.level-buttons button {
    margin-left: auto;
    background-color: #184e77;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.level-buttons button:hover {
    background-color: #388E3C;
}

#version-footer {
    position: absolute;
    bottom: 5px;
    right: 0;
    opacity: 0.6;
    user-select: none;
}

button.version-button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 10px;
    box-shadow: none;
    pointer-events: auto;
}

button.version-button:hover {
    background: #1e1e1e;
}

/*Screen reader styles*/
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}